* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: black;
  }
  nav {
    background-color: crimson;
    border-radius: 5px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 20px;
  }
  nav ul li {
    display: inline-block;
    margin: 20px;
  }
  .ME{
    color: white;
    margin: 60px 0px 60px 380px;
  }
  
  .img1{
    margin:-20em 0px 0px 907px;
    border-radius: 60%;
    position: absolute;

  }
  .imgg2{
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;
    margin:-326px 0px 0px 900px;

  }
  .footer {
    background-color: gray;
    color: #fff;
    padding: 20px 0;
  }
  .footer-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .footer-column {
      flex-basis: calc(49.33% - 20px);
      margin-right: 20px;
    }
    
    .footer-heading {
      color: red;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .footer-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .footer-menu li {
      margin-bottom: 5px;
    }
    
    .footer-menu li a {
      color: white;
      text-decoration: none;
    }
    
    .footer-menu li a:hover {
      text-decoration: underline;
    }
    
    .map {
      float: right;
      margin: 51px 42px 122px 916px;
      position: absolute;
    }
    .dropbtn{
      
      color: white;
      font-size: 16px;
      border-radius: 20px;
      outline: 0;
      border: 0;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px ;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: bold;
    font-size: 19px;
}

.dropdown-content a:hover {
    font-size: 29px;
    border-radius: 29px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

    